<?php
defined('BASEPATH') OR exit('No direct script access allowed');

/*
Para GoDaddy
$config['user'] = '';
$config['pass'] = '';
$config['protocol'] = 'sendmail';
$config['host'] = 'localhost';
$config['port'] = 25;
$config['to_mail'] = PONER_EMAIL_ACA;

Para usar el SMTP de Google (no sirve con Godaddy)

$config['user'] = PONER_USUARIO_ACA;
$config['pass'] = PONER_PASSWORD_ACA;
$config['to_mail'] = PONER_EMAIL_ACA;
$config['protocol'] = 'smtp';
$config['host'] = 'ssl://smtp.gmail.com';
$config['port'] = 465;
*/

/*
Las siguientes son variables para el reCAPTCHA

$config['public_key'] = 'KEY_PUBLICA';
$config['secret_key'] = 'KEY_PRIVADA';

*/